/* ==========================================================================
   Customized colors
   ========================================================================== */

/* Colors */
$text-color: #000000 !default;
$primary-color: #9fef00 !default;
$background-color: #f5f5f5 !default;
$background-color-nav: #000000 !default;
$footer-background-color: #000000 !default;

$border-color: #000000 !default;

$masthead-link-color-hover: #9fef00 !default;
$masthead-link-color: #ffffff !default;